<!DOCTYPE html>
<html>
  <head>
    <title>{{ index_title }}</title>
  </head>

  <body style="text-align:center;background-color:darkcyan;font-family:helvetica;">

  	<h1>{{ index_content | default ('') }}</h1>

    <img src="{{ index_picture | default('https://www.redhat.com/cms/managed-files/Logotype_RH_AnsibleAutomation_RGB_Black_2.png') }}" alt="Ansible">  

  	<p>{{ index_foot }}</p>

  </body>

</html>
