<!DOCTYPE html>
<html>
  <head>
    <title>{{ index_title }}</title>
  </head>

  <body style="text-align:center;background-color:darkcyan;">

  	<h1>{{ index_content | default ('') }}</h1>

    <img src="{{ index_picture | default('https://www.mistltd.com/images/ansible1.png') }}" alt="Ansible">  

  	<p>{{ index_foot }}</p>

  </body>

</html>
