<!DOCTYPE html>
<html>
  <head>
    <title>{{ index_title }}</title>
  </head>

  <body style="text-align:center;background-color:darkcyan;font-family:helvetica;">

  	<h1></h1>
    <pre style="font-family:courier;">
 _______________________ 
&lt; {{ index_content | default ('') }} &gt;
 ----------------------- 
        \   ^__^
         \  (@@)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
                


    </pre>

    <img src="{{ index_picture | default('https://www.redhat.com/cms/managed-files/Logotype_RH_AnsibleAutomation_RGB_Black_2.png') }}" alt="Ansible">  

  	<p>{{ index_foot }}</p>

  </body>

</html>
